:root{
    --font : Impacted ;
    --fontM : New Athletic M54;
    --border : 2px solid #fff;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Modern Sans;
    
}

body{
    /* z-index: -5; */
    background: url('../src/picture/bgNOcat.png');
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    height: 8100px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;

}


.menu{
    top: 0px;
    padding-top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    z-index: 5; 
    margin-bottom: 500px;
    height: 15vh;
}


.menu  img {
    margin: 10px 0 0 30px;
    width: 10%;
    height: 90%;
    overflow: hidden;
    z-index: 5;
}

.menu nav ul  .img  a  :hover{
    /* height: 20%; */
    /* width: 20%; */
    /* border-radius: 10px; */
    border: 5px solid #fff;
    /* animation: colorborder 1s linear infinite; */
}

.menu nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /* border: 1px solid #000; */
    padding: 2.5em 2em;
    background: transparent;   
    width: 100%;
    top:65px;

}

input[type = "checkbox"]{
    z-index: -1;
    opacity: 0;
}

.menu nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 1000px;
}

.menu nav ul li {
    font-size: 1.3em;
    margin: 1em 1px;
    list-style: none;

}

.menu nav ul li a {
    text-decoration: none;
    font-family: Modern Sans;
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
    width: 50%;
    align-items: center;
    font: regular 33px/40px Modern Sans;
}

.menu nav ul  .img {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

}





.menu nav ul  .img  a img {
    /* border-radius: 50px;
    border: 5px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 15%;
    padding: 0px; 
    margin:  0 20px 2px 0 ;

}


.menu nav ul li a:hover{
    border-bottom: 10px solid #fff;
    font-size: 1.5em;
    background: rgb(0, 0, 0);
    transition: 0.5s;
    /* animation: borderbotton 1.5s linear infinite alternate; */
}

.nav-tgl{
    display: none;
}


/* ---------------------Animation Color--------------------- */

@keyframes borderbotton {
        0%{
            border-bottom-color: #0fd419;
        }
        20%{
            border-bottom-color: #0fd4d4;
        }
        40%{
            border-bottom-color: #fbff00;
        }
        60%{
            border-bottom-color: #7b0fd4;
        }      
        80%{
            border-bottom-color: #cd0fd4;
        }
        100%{
            border-bottom-color: #d40fb3;
        }
    }



@keyframes colorborder {
        0%{
            border-color: #0fd419;
        }
        20%{
            border-color: #0fd4d4;
        }
        40%{
            border-color: #fbff00;
        }
        60%{
            border-color: #7b0fd4;
        }      
        80%{
            border-color: #cd0fd4;
        }
        100%{
            border-color: #d40fb3;
        }
    }




/* --------------------- Content 1th ------------------------ */
.content-one{
     /* border: 2px solid #000; */
    position: block;
    /* background: url('src/picture/BG1.png'); */
    height: 100vh;
    display: block;


}

.mouseScroll{
    z-index: 5;
    position: absolute;
    top: 900px;
    left: 50vh;
    width: 10vh;
    height: 10vh;
    transition: 1s;
    animation: mouseScroll .5s linear infinite alternate;
}

@keyframes mouseScroll{
    0%{
        top: 825px;
    }
    100%{
        top: 812px;
    }
}



.boxcontent-one{
    margin: 10vh 0 0 0 ;
    display: flex;
    /* border: 2px solid #000; */
}

.content-one .boxcontent-one .container{
    flex: 1;
    top: 30vh;
    position: absolute;
}

.content-one .boxcontent-one .container h1{
    margin: 0 0 0 10vh;
    letter-spacing: 0px;
    z-index: -1;
}
.content-one .boxcontent-one .container h1 span{
    font-family: var(--font);
    font-weight: 800;
    font-size: 8vmax;
    color: #fff;
}


        h1 span{
            transition: 1.5s;
        }
        h1:hover span {
            filter:blur(20px);
            opacity: 0;
            transform: scale(2);
        }

        h1 span:nth-child(10n+1){

            transition-delay: 0s;
        }
        h1 span:nth-child(10n+2){

            transition-delay: 0.1s;
        }
        h1 span:nth-child(10n+3){

            transition-delay: 0.2s;
        }
        h1 span:nth-child(10n+4){

            transition-delay: 0.3s;
        }
        h1 span:nth-child(10n+5){

            transition-delay: 0.4s;
        }
        h1 span:nth-child(10n+6){

            transition-delay: 0.5s;
        }
        h1 span:nth-child(10n+7){

            transition-delay: 0.6s;
        }
        h1 span:nth-child(10n+8){

            transition-delay: 0.7s;
        }
        h1 span:nth-child(10n+9){

            transition-delay: 0.8s;
        }
        h1 span:nth-child(10n+10){

            transition-delay: 0.9s;
        }
        h1 span:nth-child(10n+11){

            transition-delay: 1s;
        }
        h1 span:nth-child(10n+12){

            transition-delay: 1.1s;
        }
        h1 span:nth-child(10n+13){

            transition-delay: 1.2s;
        }

.content-one .boxcontent-one .container p{
    display: block;
    position: relative;
    font-size: 3vmin;
    font-weight: 100;
    margin: 0 0 0 10vh;
    display: block;
    text-align: left;
    transition: 0.5s;
    width: 700px;
    color: #fff;
    font-family: var(--fontM);
}

.content-one .boxcontent-one .container p:hover{
    font-size: 35px;
    /* opacity: 0;
    transform: scaleX(2); */
}


.content-one .boxcontent-one .pig{
    flex: 1;
}

.card  .cat, .cloud, .moon{
    position: absolute;
}

.card .moon{
    top: 50vh;
    left: 70vw;
    display: flex;
    justify-content: flex-end;
    z-index: -4;
    animation: sun 1s infinite alternate;
}

.card .cat{
    left: 20vw;
    top: 20vh;
    z-index: -2;
}

.card .cloud{
    left: 70vw;
    z-index: -3;
    top: 50vh;
    animation: sun 2s infinite alternate;
}

@keyframes sun {
    0%{ 
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    100%{ 
        transform: translateX(-50%) translateY(-50%) scale(1.03);
    }
}


/* ------------------------------------- Content 2th--------------------- */
.content-two{
    height: 100vh;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;
    flex-direction: column;
}

.boxcontent-two {
    display: flex;
    margin: 30vmin 0 0 0 ;
    display: flex;
    /* border: 2px solid #000; */
    color: #fff;
    flex-direction: column;
    flex: 1
}
article {
    display: flex;
}
.boxcontent-two .chart{
    position: absolute;
    left: 120vh;
    
}

.boxcontent-two .chart img{
    width: 140%;
}
.content-two .boxcontent-two .container{
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.content-two .boxcontent-two .container h1{
    font-family: var(--font) ;
    margin-left: 10vmax;
    letter-spacing: 0px;
    font-size: 8vmax;
}

.content-two .boxcontent-two .container p {
    font-family: var(--fontM);
    width: 83vh;
    margin: 0 0 0 10vmax;
    font-size: 3vmin;
    font-weight: 100;
    transition: .5s;
    flex-wrap: wrap;
    text-align: justify;
}

.content-two .boxcontent-two .container p:hover{
    font-size: 3.5vmin;
}

.content-two .boxcontent-two .content-pic2{
    position: relative;
    width: 50vmax;
    height: 30vmin;
    margin-top: 2vmax;
    margin-left: 10vmax;
    /* border: 1px solid #fff; */
}

.content-two .boxcontent-two .content-pic2 img{
    width: 30%;
    margin-right: 5vh;
        /* border: 1{px solid #fff; */
}



/* -------------------------- Content 3th ----------------------------------- */
.content-three{
    height: 100vh;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;
    flex-direction: column;    
}

.boxcontent-three {
    display: flex;
    margin:  0 30vmax 0 0 ;
    display: flex;
    /* border: 2px solid rgb(255, 255, 255); */
    color: #fff;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 ;
}

.content-three .boxcontent-three .chart{
    position: absolute;
    left: 10vh;
}

.content-three .boxcontent-three .chart img{
    width: 150%;
}

.content-three .boxcontent-three .container{
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: var(--border); */
}

.content-three .boxcontent-three .container h1{
    font-family: var(--font);
    margin: 0 5vmax 0 0vmax;
    z-index: -1;
    font-size: 8vmax;
}

.content-three .boxcontent-three .container p {
    font-family: var(--fontM);
    width: 83vh;
    margin: 0 0 0 0vmax;
    font-size: 3vmin;
    font-weight: 100;
    transition: .5s;
    flex-wrap: wrap;
    text-align: justify;
}

.content-three .boxcontent-three .container p:hover{
    font-size: 3.5vmin;
}

.content-three .boxcontent-three  img{
    justify-content: flex-end;
    margin: 15vh 0 0 0 ;
    width: 40vmax;
}


/* .content-three .boxcontent-three .content-pic3{
    position: relative;
    width: 50vmax;
    height: 30vmin;
    margin-top: 2vmax;
    margin-left: 10vmax;

}

.content-two .boxcontent-two .content-pic3 img{
    width: 30%;
    margin-right: 5vh;

} */


/* -------------------------- Content 4th  --------------------------------------*/
.content-four{
    height: 100vh;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;
    flex-direction: column;
}

.boxcontent-four{
    display: flex;
    margin:  15vmax 0 0 0 ;
    display: flex;
    /* border: 2px solid rgb(255, 255, 255); */
    color: #fff;
    flex-direction: row;
    flex: 1 ;
}
.content-four .boxcontent-four .chart{
    position: absolute;
    top: 80vh;
    left: 40vh;
}

.content-four .boxcontent-four .chart img{
    width: 100%;
}

.content-four .boxcontent-four .container{
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: var(--border); */

}

.content-four .boxcontent-four .container h1{
    font-family: var(--font);
    margin: 0 0 0 15vmax;
    /* z-index: -1; */
    font-size: 5vmax; 
    color: #FFF; 
    /* background: linear-gradient(90deg, #313C94, #fff, #313C94); */
    /* background-repeat: no-repeat; */
    /* background-size: 80%; */
    /* animation: animate 3s linear infinite ; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ; */
    transition: .5s;
}
    
@keyframes animate {
    0%{
        background-position: -500%;
        font-size: 8vmax;  
    }
    100%{
        background-position: 500%;
    }
}

.content-four .boxcontent-four .container p{
    font-family: var(--fontM);
    /* width: 83vh; */
    margin: 0 0 0 15vmax;
    font-size: 2.8vmin;
    font-weight: 100;
    transition: .5s;
    flex-wrap: wrap; 
    width: 689px;
    height: 310px;
    text-align: justify;
}

.content-four .boxcontent-four .container p:hover{
    font-size: 3.5vmin;
}

.content-four .boxcontent-four .content-pic3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    /* border: var(--border); */

}



.content-four .boxcontent-four .content-pic3 img{
    width: 75vh;
    margin: 0 500px 0 0 ;
    z-index: -2;
    display:flex;
    align-items: flex-start;
    animation: hiccup 1s linear infinite alternate;
    
}

@keyframes hiccup{
    0%{
        width: 80vh;
    }
    100%{
        width: 85vh;
    }
}




/* ------------------- Content 5 -------------------------- */

.content-five {
    height: 100vh;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;  
}

.content-five .boxcontent-five {
    display: flex;
    margin:  10vmax 0 0 0 ;
    display: flex;
    /* border: 2px solid rgb(255, 255, 255); */
    color: #fff;
    flex-direction: row;
    flex: 1 
}

.content-five .boxcontent-five .chart{
    position: absolute;
    top: 82vh;
    left: 90vh;
}

.content-five .boxcontent-five .chart img{
    width: 100%;
}

.content-five .boxcontent-five .container {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 40vh;
}

.content-five .boxcontent-five .container h1{
    font-family: var(--font);
    margin: 0 0 0 0;
    z-index: -1;
    font-size: 8vmax;     
}

.content-five .boxcontent-five .container p{
    font-family: var(--fontM);
    /* width: 83vh; */
    /* margin: 0 0 0 15vmax; */
    font-size: 3vmin;
    transition: .5s;
    flex-wrap: wrap; 
    width: 689px;
    height: 310px;
    flex: 3;
    text-align: justify;
}

.content-five .boxcontent-five .container p:hover{
    font-size: 3.5vmin;
}

.content-five .boxcontent-five .content-pic5{
    /* border: var(--border); */
    width: 401px;
    height: 301px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 0 5vmax;
}

.content-five .boxcontent-five .content-pic5 img{
    width: 200%;
    /* border: var(--border); */
  
}

/* ----------------- Content 6 ----------------- */

.content-six {
    height: 100vh;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;  
}
 
.content-six .boxcontent-six {
    display: flex;
    margin:  10vmax 0 0 0 ;
    display: flex;
    /* border: 2px solid rgb(255, 255, 255); */
    color: #fff;
    flex-direction: column;
    flex: 3;
}


.content-six .boxcontent-six .chart{
    position: absolute;
    top: 30vh;
    left: 110vh;
}

.content-six .boxcontent-six .chart img{
    width: 150%;
}

.content-six .boxcontent-six .container{
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 20vh;
}


.content-six .boxcontent-six .container ul {
    margin: 0;
    padding: 0;
    display: flex;

}
.content-six .boxcontent-six .container ul li{
    font-family: var(--font);
    margin: 0 0 0 0;
    font-size: 8vmax;  
    list-style: none;  
    Letter-spacing: 10px;
/*   filter: blur(5px); */
    transition: 4s;
}


.content-six .boxcontent-six .container ul li:hover,
.content-six .boxcontent-six .container ul li:hover ~ li {
  transform: rotate(180deg) translateY(-200px);
  transition: 2s;
  filter: blur(100px);
  opacity: 0;
}
.content-six .boxcontent-six .container p{
    font-family: var(--fontM);
    /* width: 83vh; */
    /* margin: 0 0 0 15vmax; */
    font-size: 3vmin;
    transition: .5s;
    flex-wrap: wrap; 
    width: 689px;
    height: 310px;
    flex: 3;
    text-align: justify;
}


.content-six .boxcontent-six .container p:hover{
    font-size: 3.5vmin; 
}

.content-six .boxcontent-six .content-pic6{
    display: flex;
    flex-direction: row;
    width: 10%;
    margin: 5vh 0 0 20vh;
}


.content-six .boxcontent-six .content-pic6 img{
    width: 15vmax;
    margin: 0 10vh 0 0 ;
}



/* --------------------- My Div Wave------------------------------ */


section .wave
{
    top: 770%;
    position: absolute;
    width: 100%;
    height: 143px;
    background: url('../src/picture/wave.png');
    /* z-index: 5; */
    animation: wave 10s linear infinite;
}

section .wave::before{
    content: '';
    position: absolute;
    /* top: 98.2%; */
    width: 100%;
    height: 143px;
    background: url('../src/picture/wave.png');
    left: 0;
    opacity: 0.4;
     animation: wave-re 5s linear infinite;
}



/* ----------------------------- ABOUT --------------------------- */

.content-about{
    margin: 10vh 0 0 0;
    position: block;
    /* background: url('src/picture/BG1.png'); */
    height: 100%;
    display: block;
}

.content-about .boxcontent-about{ 
    height: 120vh;   
    width: 83%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-about .boxcontent-about .container{
    /* border: var(--border); */
    display: flex;
    flex: 2;
    height: 100vh;
    width: 100%;
    margin: 0 0vh 0 0vh;
    justify-content: center;
    align-items: center;
}

.content-about .boxcontent-about .container h1{
    display: flex;
    font-family: var(--font);
    font-weight: 800;
    font-size: 8vmax;
    color: #fff;
}

.content-about .boxcontent-about .member{
    /* border: var(--border); */
    flex: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-about .boxcontent-about .member .member1, 
.member2, .member3, .member4 {
    /* border: var(--border); */
    margin: 20px 0;
     height: 25%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.247);

}

.content-about .boxcontent-about .member .member1 .pic,
.content-about .boxcontent-about .member .member3 .pic{
    flex: 1;
    flex: 1;
    /* border: var(--border); */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: var(--border); */
}

.content-about .boxcontent-about .member .member1 .detail,
.content-about .boxcontent-about .member .member3 .detail{
    flex: 3;
    /* border: var(--border); */


}
 
.content-about .boxcontent-about .member .member2 .pic,
.content-about .boxcontent-about .member .member4 .pic{
    flex: 1;
    
    
    /* border: var(--border); */
}

.content-about .boxcontent-about .member .member2 .detail,
.content-about .boxcontent-about .member .member4 .detail{
    flex: 3;
    /* border: var(--border); */
}


/* member1, member3 */
.content-about .boxcontent-about .member .member1 .pic img,
.content-about .boxcontent-about .member .member3 .pic img{
    width: 110%;
    flex: 1;
    /* border: var(--border); */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-about .boxcontent-about .member .member1 .detail,
.content-about .boxcontent-about .member .member3 .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.content-about .boxcontent-about .member .member1 .detail p,
.content-about .boxcontent-about .member .member3 .detail p{
    font-family: var(--fontM);
    margin: 0 0 0 5vh;
    opacity: 1;
}


/* member2, member4 */
.content-about .boxcontent-about .member .member2 .pic img,
.content-about .boxcontent-about .member .member4 .pic img{
    width: 100%;
    margin: 0 5vh 0 0 ;
    flex: 1;
    /* border: var(--border); */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-about .boxcontent-about .member .member2 .detail,
.content-about .boxcontent-about .member .member4 .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: rgb(252, 252, 252);
    font-size: 2em;
}

.content-about .boxcontent-about .member .member2 .detail p,
.content-about .boxcontent-about .member .member4 .detail p{
    font-family: var(--fontM);
    margin: 0 5vh 0 0;
}
/* --------------------------------- WAVE ---------------------------- */


footer .logo-footer{
    width: 100%;
    display: flex;
    position: absolute;
    background: #000;
    justify-content: flex-end;
    
}

footer .logo-footer p {
    left: 74%;
    width: 100%;
    position: absolute;
    color: #f5f5f5;
    top: 80%;
    margin: 0 5px 0 0;
}

footer .logo-footer .pic1{
    margin: 5vh 0 0 0;
    /* border: var(--border); */
    display: flex;
    justify-content: flex-end;  
}


footer .logo-footer .pic1 img{
    width: 70%;
    height: 70%;
    margin: 0 10px 0 10px;
}



/* ---------------------------- */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  /* transition: 0.3s; */
  width: 5px;
  height: 5px;
  background: #000;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 110; /* Sit on top */
  padding-top: 1px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 0%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 2000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*End style*/

